bin/
conda-meta/
lib/
include/
etc/
share/
ssl/
x86_64-conda_cos7-linux-gnu/
x86_64-conda-linux-gnu/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
dist/
build/
*.log
.ipynb_checkpoints/
.DS_Store